@import './webslides.css';

.shapelined {
  background-image: url(../img/stefan-steinbauer-hnhE83RhAWg-unsplash.jpg);
}

.slide-top {
  color: #cacaca;
}

.text-context::before, .bg-white .text-context::before {
  background-color: #aaaaaa;
}